﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/M3F.Master" CodeBehind="Home.aspx.vb" Inherits="M3F_Contratados_Web.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div style="background-color: red"> BIENVENIDO A M3F CONTRATOS</div>
</asp:Content>
