
.Titulo_Pagina {
	COLOR: #2d2d2d;  font-weight:bold; text-align:center;
}
.clearfix:after {
	LINE-HEIGHT: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	FONT-FAMILY: Tahoma, Geneva, sans-serif; PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: disc; MARGIN: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
A:hover {
	TEXT-DECORATION: none
}


BODY {
	 LINE-HEIGHT: 17px; MARGIN: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; BACKGROUND: #efefef;
}
INPUT {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
SELECT {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
TEXTAREA {
	LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A {
	COLOR: #3a3c42; CURSOR: pointer; TEXT-DECORATION: none
}
.MasterContainer {

 }
.container { VERTICAL-ALIGN: middle;
	 
	   text-align:center; 

}
.header {
	BACKGROUND: #fff; WIDTH: 962px;
	 
	
}
.header DIV.logo {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 21px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.topmenu{
	BACKGROUND: url(images/bg01.jpg) no-repeat left top; HEIGHT: 31px; 
}
.topmenu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.topmenu UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; WIDTH: auto; PADDING-RIGHT: 0px; FONT-FAMILY: 'BrandonGrotesqueBold'; FLOAT: left; PADDING-TOP: 0px
}
.topmenu UL LI A {
	COLOR: #2d2d2d;  font-weight:bold;
}
 
 


.RRHH_VENTANA_CONTENIDO {
	LINE-HEIGHT: 19px;font-weight:bold;
 BACKGROUND: #aec90b; COLOR: #fff;
	PADDING-LEFT: 8px; FONT-SIZE: 19px; PADDING-TOP: 0px
}
 
 .CSS_TBL_LOGIN {  background-color:White;
	  WIDTH: 300px;  border: 1;  
   
}
 
 
 
 .TBL_FORMA { background-color:White; width:500px;
border-collapse: collapse;
border: 4px solid gray;
padding:7;
border: 4;
}

 .FORMA_CAMPO{  font-weight:bold; 
   
}
 .TBL_RESULTADOO{   text-align:center; 
   
}
 
 
 .TBL_FORMA { background-color:White; width:500px;
border-collapse: collapse;
border: 4px solid gray;
padding:7;
border: 4;
}

 .FORMA_CAMPO{  font-weight:bold; 
   
}
 .TBL_RESULTADO{   text-align:center;border-collapse: collapse;
border: 4px solid gray;
   
}
.TablaResultRow_1{
background-color: white; 
}
.TablaResultRow_2{
background-color: #CCFF99; 
 }
.TablsResult{
 background-color:#CCFF00; 
 
 }
 .TablaResultHeader{
	  font-weight:bold;
}
 .TablaResultCell
 {
	  text-align:left;
}
  .TablaResultCell_suma
 {
	  text-align:center;
}
 .TablaResultTotalCell{
	  font-weight:bold;
}
 .TablaResultCell
 {
	  text-align:left; padding-right:5px; white-space: nowrap; margin-left:5px;
}
 
 