.Boton{
	   background-color: #36a0cd;
	   color:White;
	   border:0;
	   height:20px;
	   width:80px;
	   
	   text-transform:uppercase;
} 
 .LinkExportar
        {
             color:red;
        }
INPUT  submmit{
	   background-color:#7ea61f;
	   color:White;
	   border:0;
	    height:20px;
	    width:80px;
	    
   text-transform:uppercase;
 
	   	
}

INPUT  Button{
	   background-color:#7ea61f;
	   color:White;
	   border:0;
	    height:20px;
	    width:80px;
	
   text-transform:uppercase;
 
	   	
}
.Titulo_Pagina {
	COLOR: #2d2d2d;  font-weight:bold; text-align:center;
}
.clearfix:after {
	LINE-HEIGHT: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	 PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: disc; MARGIN: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
A:hover {
	TEXT-DECORATION: none
}


BODY {
	 LINE-HEIGHT: 17px;
	 MARGIN: 0px;
	 font-family: 'Roboto', sans-serif !important;
	 COLOR: #000;
	 FONT-SIZE: 12px;
	 BACKGROUND: #efefef;
background-repeat: repeat;
background-color: rgb(236, 236, 236);
background-image: url(../Images/squares.png);


}
INPUT {
	LINE-HEIGHT: 14px;  COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
SELECT {
	LINE-HEIGHT: 14px; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
TEXTAREA {
	LINE-HEIGHT: 14px; COLOR: #3a3c42; FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A {
	COLOR: #3a3c42; CURSOR: pointer; TEXT-DECORATION: none;    font-size: medium;

}
.MasterContainer {

 }
.container { VERTICAL-ALIGN: middle;
	 
	   text-align:center; 

}
.header {
	 WIDTH: 100%;
	 
	
}

.newColor {
	background: #0080b7 !important;
	background: -webkit-linear-gradient(-60deg, #0080b7, #68bee2) !important;
	background: -o-linear-gradient(-90deg, #68bee2, #0080b7) !important;
	background: -moz-linear-gradient(-90deg, #68bee2, #0080b7) !important;
	background: linear-gradient(-90deg, #68bee2, #0080b7) !important;
}

.header DIV.logo {

	margin-left: 70px;
	margin-right: 0px;

}
.topmenu{
	HEIGHT: 33px;
}
.topmenu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.topmenu UL LI {
	margin-LEFT: 20px;
	FLOAT: left;
}
.topmenu UL LI A {
	COLOR: #ddd;
	font-weight:bold;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 31px;
	TEXT-TRANSFORM: uppercase;
	WIDTH: auto;
	PADDING-RIGHT: 0px;

	FLOAT: left;
	PADDING-TOP: 0px;
}

#nav li:hover {
border-bottom: 2px solid white;
}

#nav li:hover a {
color: #fff;
}
 


.RRHH_VENTANA_CONTENIDO {
	LINE-HEIGHT: 19px;
	font-weight:bold;
	BACKGROUND: #aec90b;
	COLOR: #fff;
	FONT-SIZE: 1.2em;
	PADDING-TOP: 0px;
	
}
 
 .CSS_TBL_LOGIN {
	  background-color:White;
	  WIDTH: 300px;
	  border: 1;
	  padding-bottom: 5px;
}
 
 
 
 .TBL_FORMA { background-color:White; width:500px;
border-collapse: collapse;
border: 4px solid gray;
padding:7;
border: 4;
}

 .FORMA_CAMPO{  font-weight:bold; 
   
}
 .TBL_RESULTADOO{   text-align:center; 
   
}
.TablaResultRow_1{
background-color: white; 
}
.TablaResultRow_2{
background-color: #CCFF99; 
 }
.TablsResult{
 background-color:#2f99dc;border-style:Solid;width:909px;border-collapse:collapse; padding-left:5px;
 }
 .TablaResultHeader{
	  font-weight:bold;
}
 .TablaResultCell
 {
	  text-align:left; padding-right:5px; white-space: nowrap; margin-left:5px;
}
  .TablaResultCell_suma
 {
	  text-align:left;
}
 .TablaResultTotalCell{
	  font-weight:bold;padding-right:5px;
}
.TablaResultSoloTotalCell{
	 background-color:white;
}